.drop-message-component{
    position: relative;
    margin: auto 0;
    box-sizing: border-box;
    padding-top: 80px;
}

.drop-message-component .notice{
    width: 350px;
    bottom: 0;
    background-color:  rgba(128, 128, 128, 0.048);

}

.drop-message-component .box{
    margin-top: 20px;
}

.drop-message-component .notice::after{
    left: 85.6%;
    top: 0.1px;
    bottom: 0;
    height: 80px;
    border-bottom-color: #121212;
    transform: rotate(180deg);
}


.drop-title h1{
    font-size: 3em;
}

.box{
    width: 35%;
    width: 350px;
    height: 65px;
    border: 3px solid #0A5DE9;
    ;
    margin: 0 auto;
    margin-top: -100px;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(38, 3, 165, 0.19), 0 6px 6px rgba(38, 3, 165,0.23);
}

.box a{
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    margin: auto 0;
}

@media only screen and (max-width: 650px) {
    
    .drop-title h1{
        font-size: 1.5em;
    }
    .box{
        min-width: 120px ;
        width: 150px;
    }
    
    .box a{
        font-size: 14px;
    }

}