.row {
  flex-direction: column;
  position: relative;
  min-height: 200px;
  margin-top: 160px;
  margin-bottom: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.bara {
  margin-top: 0%;
}
.row .col h1 {
  font-size: 3em;
}

.row .col h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 1160px) {
  .row .col h1 {
    font-size: 3em;
  }
  .row .col h3 {
    font-size: 1.3em;
    margin: 0;
  }
}

@media only screen and (max-width: 1030px) {
  .row .col h1 {
    font-size: 2.8em;
  }
  .row .col h3 {
    font-size: 1.2em;
    margin: 0;
  }
}

@media only screen and (max-width: 970px) {
  .row {
    margin-bottom: 0;
  }
  .row .col h1 {
    font-size: 2.6em;
  }
  .row .col h3 {
    font-size: 1.1em;
    margin: 0;
  }
}

@media only screen and (max-width: 880px) {
  .row {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 840px) {
  .row .col h1 {
    font-size: 2em;
  }
  .row .col h3 {
    font-size: 1em;
    margin: 0 40px;
  }

  .row .col h1 span {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .row .col h1 {
    font-size: 1.7em;
  }
  .row {
    margin-top: 100px;
  }
}
