.reason-component {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
}

.reason-header {
  text-align: center;
}
.reason-mid1 {
  margin-bottom: 20%;
  width: 100%;
}
.reason-mid1 img {
  max-width: 50%;
  float: left;
  width: 50%;
}
.reason-mid1 .bar1 {
  width: 100px;
  height: 2px;
  background-color: blue;
  margin-left: 91%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.reason-mid1 .reason1-sub {
  padding-top: 20%;
  margin-left: 15%;
  text-align: right;
  font-size: 1.1em;
}

.reason-mid2 {
  margin-top: 20%;
  width: 100%;
  padding-bottom: 40%;
}

.reason-mid2 .reason2-sub {
  width: 40%;
  margin-top: 10%;
  float: left;
}

.bar2 {
  width: 100px;
  height: 2px;
  background-color: blue;
  margin-left: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.reason-mid2 img {
  max-width: 50%;
  float: right;
}
