.start {
  margin-top: 200px;
  text-align: center;
}

h1 {
  padding-right: 250px;
}
h6 {
  color: #666666;
  padding-right: 250px;
}

#Image {
  width: 350px;
  height: 350px;
}

.column {
  float: left;
  width: 27%;
  padding: 5px;
  margin-top: 100px;
}

#row:after {
  content: "";
  clear: both;
  display: table;
}

#last {
  margin-top: 10%;
  font-size: 31.5px;
  padding-right: 500px;
}

.btn {
  margin-top: 3%;
  color: #0a5de9;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  text-align: center;
  border-radius: 0px;
  border-color: #0a5de9;
  margin-right: 500px;
}

.btn:hover {
  background-color: #0a5de9;
}

@media screen and (max-width: 801px) {
  #row {
    display: block;
  }
}
