.col {
  margin-left: 10%;
  font-family: "Montserrat";
}

h3 {
  color: #666666;
}
img {
  max-width: 100%;
  height: auto;
}

.contactRect {
  height: 5px;
  width: 80px;
  background-color: #0a5de9;
  margin-bottom: 20px;
}
