#heading {
  margin: 13%;
}

.col h1 {
  font-size: 3.2em;
}

.contactRect {
  height: 5px;
  width: 80px;
  background-color: #0a5de9;
  margin-top: 1%;
  margin-bottom: 2%;
}

#contactDesign {
  color: #ffffff;
  margin-right: 20%;
  font-size: 1.3em;
}

#contactlast {
  max-width: 100%;
  height: auto;
  padding: 0%;
}

#contactlast h6 {
  color: white;
  font-size: 1.2em;
  margin-bottom: 3%;
}

#contactlast :hover {
  color: #0a5de9;
  font-size: 20px;
}

@media only screen and (max-width: 840px) {
  #contactDesign {
    margin-right: 10%;
    margin-left: 0;
  }
  #contactDesign br {
    display: none;
  }
}
