.menuB {
  margin-top: 15px;
  display: flex;
}
.menuB .bar {
  cursor: pointer;
  margin-left: 4%;
  font-size: 1.2em;
  margin-top: 7px;
  margin-right: 10px;
  display: flex;
}
.menuB .headerlogo {
  margin-left: 0.5%;
}

.menuB .headerlogo img {
  width: 70%;
}
label {
  font-size: 1.2em;
  margin-top: 4px;
}
