.home {
  width: 100%;
  padding-left: 5%;
  margin-top: 5%;
  padding-right: 5%;
}
.home-part {
  float: left;
  width: 50%;
  position: relative;
}

.home-part.left-string .title {
  font-size: 2em;
  margin-left: 5%;
}
.home-part.left-string .success {
  font-size: 100px;
}
.home-part.left-string .int-line {
  width: 80px;
  margin-top: 1%;
  margin-left: 5%;
  height: 3px;
  background-color: #0072ff;
}
.home-part.left-string .description {
  margin-top: 2%;
  margin-left: 30px;
  font-size: 1em;
  width: 80%;
  line-height: 28px;
}

.home-part.left-string .description .chat-btn {
  border: 2px solid white;
  text-align: center;
  font-size: 0.7em;
  margin-top: 20px;
  width: 22%;
  padding: 8px;
}

.home-part.left-string .description .chat-btn:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
  color: black;
}
/* .home-part.right-webgl{
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
} */
#container {
  position: relative;
  margin-top: -30%;
  padding-right: 10%;
}
#container canvas {
  outline: none;
}
#colorShadow {
  position: relative;
  max-width: 220px;
  max-height: 130px;
  margin-left: 55px;
  background: radial-gradient(closest-side, #0061d0, #0f4080, transparent);
}
#container img {
  width: 100%;
  display: none;
}
#colorShadow img {
  width: 100%;
}
#container.show-img img {
  display: block;
}
#colorShadow.show-img img {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .home {
    margin-left: -8%;
  }

  .home-part.left-string .title {
    font-size: 30px;
  }
  .home-part.left-string .success {
    font-size: 90px;
  }
  .home-part.left-string .description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 780px) {
  .home {
    margin-top: -10%;
    margin-bottom: 500px;
  }

  .home-part.left-string .title {
    font-size: 22px;
  }
  .home-part.left-string .success {
    font-size: 66px;
  }
  .home-part.left-string .description {
    font-size: 14px;
  }
  /* .home-part.left-string .chat-btn {
    font-size: 18px;
  } */
}

@media only screen and (max-width: 600px) {
  .home {
    height: auto;
    margin-top: 10%;
  }
  .home-part {
    position: absolute;
    width: 100%;
  }
  .home-part.left-string {
    top: 0px;
    width: 100%;
  }
  .home-part.left-string .title {
    font-size: 2em;
  }
  .home-part.left-string .description {
    font-size: 0.95em;
    line-height: 25px;
  }
  .home-part.right-webgl {
    display: none;
  }
}
