.home {
  width: 100%;
  padding-left: 5%;
  margin-top: 5%;
  padding-bottom: 20%;
}
.home-part {
  float: left;
  width: 50%;
  position: relative;
}

.home-part.left-string .title {
  font-size: 2.2em;
  margin-left: 5%;
}
.home-part.left-string .success {
  font-size: 100px;
}
.home-part.left-string .int-line {
  width: 17%;
  margin-top: 1%;
  margin-left: 5%;
  height: 3px;
  background-color: #0072ff;
}
.home-part.left-string .description {
  margin-top: 2%;
  margin-left: 30px;
  font-size: 1.2em;
  width: 80%;
  line-height: 30px;
}

.home-part.left-string .description .chat-btn {
  margin-top: 30px;
  border: 2px solid white;
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 40px;
  margin-right: 10%;
}

.home-part.left-string .description .chat-btn :hover {
  background-color: white;
  color: black;
}
/* .home-part.right-webgl{
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
} */
#container {
  position: absolute;
}
#container canvas {
  outline: none;
}
#colorShadow {
  position: relative;

  max-width: 220px;
  max-height: 130px;
  margin-left: 49px;
  margin-top: 25px;
  background: radial-gradient(closest-side, #0072ff, #0f4080, white);
}
#container img {
  width: 100%;
  display: none;
}
#colorShadow img {
  width: 100%;
  display: none;
}
#container.show-img img {
  display: block;
}
#colorShadow.show-img img {
  display: block;
}

.home.port {
  height: 1000px;
}
.home.port .home-part {
  position: absolute;
  width: 100%;
}
.home.port .home-part.right-webgl {
  top: 0px;
}
.home.port .home-part.left-string {
  width: 74%;
  left: 13%;
  margin-top: 80px;
}
.home.port .home-part.left-string .title {
  font-size: 18px;
  text-align: center;
}
.home.port .home-part.left-string .success {
  font-size: 60px;
  text-align: center;
}
.home.port .home-part.left-string .int-line {
  margin-left: calc(50% - 30px);
}
.home.port .home-part.left-string .description {
  font-size: 16px;
  text-align: center;
  margin-left: 10%;
}
.home.port .home-part.left-string .chat-btn {
  font-size: 18px;
  width: 160px;
  height: 33px;
  margin-left: calc(50% - 80px);
  padding-top: 10px;
}

@media only screen and (max-width: 1280px) {
  .home {
    margin-left: -8%;
  }
}
s .home-part.left-string .title {
  font-size: 30px;
}
.home-part.left-string .success {
  font-size: 90px;
}
.home-part.left-string .description {
  font-size: 16px;
}
.home-part.left-string .chat-btn {
  font-size: 20px;
  width: 200px;
  height: 35px;
  padding-top: 13px;
}

@media only screen and (max-width: 780px) {
  .home {
    margin-top: -10%;
  }

  .home-part.left-string .title {
    font-size: 22px;
  }
  .home-part.left-string .success {
    font-size: 66px;
  }
  .home-part.left-string .description {
    font-size: 14px;
  }
  .home-part.left-string .chat-btn {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    height: auto;
    margin-top: 10%;
  }
  .home-part {
    position: absolute;
    width: 100%;
  }
  .home-part.left-string {
    top: 0px;
    width: 100%;
  }
  .home-part.left-string .title {
    font-size: 2em;
  }
  .home-part.left-string .description {
    font-size: 0.95em;
    line-height: 25px;
  }
  .home-part.right-webgl {
    display: none;
  }
}
