.services {
  width: 100%;
  position: relative;
  margin-top: 20%;
}
.services .notice {
  width: 350px;
  bottom: 0;
  background-color: #000000;
}
.services .notice::after {
  left: 100%;
  bottom: 0;

  height: auto;
  border-bottom-color: #000000;
}
.services .notice .label {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.services .content-wrap {
  background-color: #000000;
  width: 100%;
}

.services .content-wrap .services-content {
  text-align: center;
}

.services .content-wrap .services-content .main-title {
  font-size: 2.5em;
  margin-top: 10%;
}

.services .content-wrap .services-content .main-description {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  margin-left: 10%;
}

.services
  .content-wrap
  .services-content
  .panels
  .panel-row
  .panel-item
  .description {
  opacity: 0;
  color: grey;
}

.services .content-wrap .services-content .panels .panel-row {
  width: 100%;
  display: inline-block;
  margin-left: 1%;
}
.services .content-wrap .services-content .panels .panel-row .panel-item {
  margin-top: 20px;
  height: 250px;
  text-align: left;
  font-size: 1.5em;
  background-color: #18181a;
  padding-left: 2%;
  width: 22%;
  float: left;
  margin-left: 2%;
}

.services
  .content-wrap
  .services-content
  .panels
  .panel-row
  .panel-item
  .panel-logo
  img {
  max-width: 30%;
  padding-top: 5%;
}

#enterprise,
#nextgen,
#maintainance {
  margin-top: 10%;
}

.services .content-wrap .services-content .panels .panel-row .panel-title {
  padding-top: 20%;
}

.services .content-wrap .services-content .panels .panel-item:hover {
  background-color: #0061d0;
  transition: 1s;
}

.services
  .content-wrap
  .services-content
  .panels
  .panel-item:hover
  .panel-logo {
  transition: 0.5s;
}

.services
  .content-wrap
  .services-content
  .panels
  .panel-item:hover
  .panel-title {
  transition: 0.5s;
  padding-top: 0%;
}

.services
  .content-wrap
  .services-content
  .panels
  .panel-item:hover
  .description {
  opacity: 1;
  color: white;
  padding-top: 5%;
  font-size: 0.6em;
}

@media screen and (max-width: 991px) and (min-width: 530px) {
  .services .content-wrap .services-content .panels .panel-row .panel-item {
    width: 45%;
  }
  .services .notice {
    display: none;
  }
}
.services .content-wrap .services-content .main-description {
  font-size: 1.3em;
}
.services .content-wrap .services-content .panels .panel-row .panel-title {
  padding-top: 5%;
}
.services
  .content-wrap
  .services-content
  .panels
  .panel-item:hover
  .description {
  padding-top: 1%;
  margin-bottom: 10%;
}

@media screen and (max-width: 540px) {
  .services .content-wrap .services-content .panels .panel-row .panel-item {
    width: 85%;
    margin-bottom: 5%;
    background-color: #0b0b0b;
  }

  .services
    .content-wrap
    .services-content
    .panels
    .panel-row
    .panel-item
    .panel-title {
    padding-top: 0%;
  }

  .services
    .content-wrap
    .services-content
    .panels
    .panel-row
    .panel-item
    .description {
    font-size: 0.6em;
    padding-top: 0%;
  }
}
