.services {
  width: 100%;

  position: relative;
}
.services .notice {
  width: 350px;

  bottom: 0;
  background-color: #000000;
}
.services .notice::after {
  left: 100%;
  bottom: 0;
  height: 50px;
  border-bottom-color: #000000;
}
.services .notice .label {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.services .content-wrap {
  background-color: #000000;
  width: 100%;
  height: 1000px;
}

.services .services-content .main-title {
  text-align: center;
  font-size: 70px;
}
.services .services-content .main-description {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  color: #888888;
  text-align: center;
  font-size: 18px;
  margin-left: 25%;
}
.services-content .services-content .panels {
  margin-top: 100px;
  width: 100%;
}
.services-content .panels .panel-row .panel-item {
  float: left;
  margin: 10px;
  width: calc(25% - 20px);
  height: 250px;
  background-color: #18181a;
  position: relative;
  transition: all 1s;
  cursor: pointer;
}
.services-content .panels .panel-row .panel-item img {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 100%;
}
.services-content .panels .panel-row .panel-item .panel-title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 26px;
  transition: bottom 1s;
}
.services-content .panels .panel-row .panel-item .description {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 15px;
  width: calc(100% - 50px);
  opacity: 0;
  text-align: left;
  margin-left: 0;
  color: #dddddd;
  word-break: break-all;
  transition: opacity 1s;
}
.services-content .panels .panel-row .panel-item:hover {
  background: #0061d0;
}
.services-content .panels .panel-row .panel-item:hover .panel-title {
  bottom: 100px;
}
.services-content .panels .panel-row .panel-item:hover .description {
  opacity: 1;
}
.services-content .panels .panel-row .panel-item:hover img {
  transition: 2s;
  display: none;
}
.services-content .panels .panel-row .panel-item.panel-item-chat {
  width: calc(25% - 22px);
  background: none;
  border: 1px solid #18181a;
}
.services-content .panels .panel-row .panel-item.panel-item-chat .panel-title {
  top: calc(50% - 15px);
  left: calc(50% - 70px);
}
.services-content .panels .panel-row .panel-item.panel-item-chat img {
  top: 0px;
  left: 130px;
  width: 30px;
}

.services.port .content-wrap {
  height: 920px;
}
.services.port .notice .label {
  font-size: 14px;
}
.services.port .services-content.subpart-content {
  padding-top: 100px;
}
.services.port .services-content .main-title {
  font-size: 32px;
}
.services.port .services-content .main-description {
  width: 90%;
  margin-left: 5%;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.services.port .services-content .panels .panel-row .panel-item {
  height: 60px;
  width: calc(100% - 20px);
  border-left: 2px solid #0061d0;
}
.services.port .services-content .panels .panel-row .panel-item:hover {
  height: 105px;
}
.services.port .services-content .panels .panel-row .panel-item img {
  top: 18px;
  left: 18px;
  width: 22px;
}
.services.port .services-content .panels .panel-row .panel-item .panel-title {
  left: 50px;
  top: 22px;
  font-size: 14px;
}
.services.port
  .services-content
  .panels
  .panel-row
  .panel-item
  .panel-title
  div {
  float: left;
}
.services.port .services-content .panels .panel-row .panel-item .description {
  left: 50px;
  width: calc(100% - 70px);
  font-size: 11px;
}

.services.port
  .services-content
  .panels
  .panel-row
  .panel-item.panel-item-chat {
  width: 140px;
  height: 40px;
  margin-left: calc(50% - 70px);
  border: 2px solid #777777;
}
.services.port
  .services-content
  .panels
  .panel-row
  .panel-item.panel-item-chat
  img {
  display: none;
}
.services.port
  .services-content
  .panels
  .panel-row
  .panel-item.panel-item-chat
  .panel-title {
  top: 10px;
  left: 40px;
  font-size: 16px;
}

/* .sevice.port .sevice-content .panels .panel-row .panel-item.panel-item-chat{
    display: none;
} */

@media only screen and (max-width: 1280px) {
  .services .notice {
    width: 40%;
  }
  .services .notice .label {
    padding-top: 35px;
  }
  .services .content-wrap {
    height: 850px;
  }
  .subpart-content {
    padding-top: 100px;
  }
  .services .services-content .main-title {
    font-size: 60px;
  }
  .services-content .panels .panel-row .panel-item {
    height: 250px;
  }
  .services-content .panels .panel-row .panel-item .panel-title {
    font-size: 20px;
  }
  .services-content .panels .panel-row .panel-item:hover .panel-title {
    bottom: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .sevice .content-wrap {
    height: 750px;
  }
  .sevice-content .panels .panel-row .panel-item {
    height: 150px;
  }
  .sevice-content .panels .panel-row .panel-item img {
    left: 20px;
    width: 25px;
  }
  .sevice-content .panels .panel-row .panel-item .panel-title {
    bottom: 20px;
    left: 20px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 960px) {
  .sevice .content-wrap {
    height: 1000px;
  }
  .sevice-content .panels .panel-row .panel-item {
    height: 130px;
    width: calc(50% - 20px);
  }
  .sevice-content .panels .panel-row .panel-item.panel-item-chat {
    width: calc(50% - 22px);
  }
  .sevice-content .panels .panel-row .panel-item .panel-title div {
    float: left;
  }
}
@media only screen and (max-width: 800px) {
  .sevice .notice .label {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .sevice .content-wrap {
    height: 950px;
  }
  .sevice .sevice-content .main-title {
    font-size: 50px;
  }
  .sevice .sevice-content .main-description {
    display: none;
  }
  .sevice-content .panels .panel-row .panel-item {
    height: 80px;
    width: calc(100% - 20px);
  }
  .sevice-content .panels .panel-row .panel-item.panel-item-chat {
    display: none;
  }
  .sevice-content .panels .panel-row .panel-item .panel-title {
    left: 60px;
    top: 30px;
  }
}
