.carousel-homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
.carousel-homepage-part {
  float: left;
  width: 50%;
  position: relative;
}

.carousel-homepage-part.left-string {
  margin-top: calc(50vh - 350px);
}
.carousel-homepage-part.left-string .title {
  font-size: 43px;
  margin-top: 70px;
  margin-left: 30px;
}
.carousel-homepage-part.left-string .success {
  font-size: 100px;
}
.carousel-homepage-part.left-string .int-line {
  width: 110px;
  margin-left: 30px;
  margin-top: 8px;
  height: 4px;
  background-color: #0072ff;
}
.carousel-homepage-part.left-string .description {
  margin-top: 35px;
  margin-left: 30px;
  font-size: 17px;
  width: 80%;
  color: #f9f4fe;
}
.carousel-homepage-part.left-string .description.hide {
  display: none;
}
.carousel-homepage-part.left-string .chat-btn {
  margin-top: 35px;
  margin-left: 30px;
  font-size: 19px;
  width: 180px;
  height: 35px;
  padding-top: 12px;

  padding-bottom: 1px;
  text-align: center;
  border: 1px solid #dddddd;
  cursor: pointer;
}

/* .carousel-homepage-part.right-webgl{
    height: 100vh;
    overflow: hidden;
    min-height: 600px;
  } */
#container-carousel {
  position: absolute;
}
#container-carousel canvas {
  outline: none;
}
#colorShadow {
  position: relative;

  max-width: 220px;
  max-height: 130px;
  margin-left: 49px;
  margin-top: 25px;

  background: radial-gradient(closest-side, #0061d0, #0f4080, #121212);
}
#container-carousel img {
  width: 100%;
  display: none;
}
#colorShadow img {
  width: 100%;
  display: none;
}
#container-carousel.show-img img {
  display: block;
}
#colorShadow.show-img img {
  display: block;
}

.carousel-homepage.port {
  height: 1000px;
}
.carousel-homepage.port .carousel-homepage-part {
  position: absolute;
  width: 100%;
}
.carousel-homepage.port .carousel-homepage-part.right-webgl {
  top: 0px;
}
.carousel-homepage.port .carousel-homepage-part.left-string {
  width: 74%;
  left: 13%;
  margin-top: 80px;
}
.carousel-homepage.port .carousel-homepage-part.left-string .title {
  font-size: 18px;
  text-align: center;
}
.carousel-homepage.port .carousel-homepage-part.left-string .success {
  font-size: 60px;
  text-align: center;
}
.carousel-homepage.port .carousel-homepage-part.left-string .int-line {
  margin-left: calc(50% - 30px);
}
.carousel-homepage.port .carousel-homepage-part.left-string .description {
  font-size: 16px;
  text-align: center;
  margin-left: 10%;
}
.carousel-homepage.port .carousel-homepage-part.left-string .chat-btn {
  font-size: 18px;
  width: 160px;
  height: 33px;
  margin-left: calc(50% - 80px);
  padding-top: 10px;
}

@media only screen and (max-width: 1280px) {
  .carousel-homepage-part.left-string {
    margin-top: calc(50vh - 270px);
  }
  .carousel-homepage-part.left-string .title {
    font-size: 30px;
  }
  .carousel-homepage-part.left-string .success {
    font-size: 90px;
  }
  .carousel-homepage-part.left-string .description {
    font-size: 16px;
  }
  .carousel-homepage-part.left-string .chat-btn {
    font-size: 20px;
    width: 200px;
    height: 35px;
    padding-top: 13px;
  }
}

@media only screen and (max-width: 780px) {
  .carousel-homepage-part.left-string {
    margin-top: calc(50vh - 270px);
  }
  .carousel-homepage-part.left-string .title {
    font-size: 22px;
  }
  .carousel-homepage-part.left-string .success {
    font-size: 66px;
  }
  .carousel-homepage-part.left-string .description {
    font-size: 14px;
  }
  .carousel-homepage-part.left-string .chat-btn {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-homepage {
    height: 1000px;
  }
  .carousel-homepage-part {
    position: absolute;
    width: 100%;
  }
  .carousel-homepage-part.left-string .description {
    display: none;
  }
  .carousel-homepage-part.right-webgl {
    top: 100px;
  }
  .carousel-homepage-part.left-string {
    top: 560px;
    width: 72%;
    left: 14%;
  }
  .carousel-homepage-part.left-string .title {
    font-size: 20px;
  }
  .carousel-homepage-part.left-string .success {
    font-size: 60px;
  }
}
