.CompanyHeading {
  margin-top: 13%;
  margin-left: 12%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.Companyleft {
  float: left;
  width: 65%;
}
.Companyleft h4 {
  font-size: 1.1em;
}
.Companyleft p {
  font-size: 1em;
  padding-top: 2%;
  line-height: 28px;
  font-weight: 550;
}
.Companyright {
  margin-top: 10%;
  padding-top: 5%;
  text-align: right;
  padding-right: 5%;
}
.Companyright h1 {
  font-size: 2em;
  padding-bottom: 1%;
}
.Companyright h5 {
  padding-top: 0.7%;
  font-size: 1.2em;
}

.CompanyBtn1 {
  margin-top: 5%;
  border: 1% solid;
  background-color: transparent;
  border-color: white;
  text-align: center;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

.CompanyBtn1:hover {
  transition: 1s;
  background-color: white;
  color: black;
}

.Companymid {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

.Companymid1 {
  text-align: center;
}
.Companymid1 h6 {
  padding-top: 1%;
  font-size: 1em;
  line-height: 25px;
  color: #808080;
}
.Companymid2 {
  text-align: center;
  display: flex;
}
.Companymid2 h6 {
  font-size: 1em;
  line-height: 25px;
  padding-left: 5%;
}
#image {
  max-width: 100%;
  margin-bottom: 10%;
}
.BackgroundLogo {
  width: 100%;
  height: 80vh;
  background-image: url("../../images/media_library/Group-972-1-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10%;
}

.firstBox {
  border: 1 px solid;
  padding-bottom: 8%;
}

.CompanyBox {
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: rgb(41, 41, 41);
  width: 650px;
  height: 245px;
  margin-left: 29%;
  padding-bottom: 2%;
}

.CompanyBox img {
  max-width: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
}
.CompanyBox .Data {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}
.Data h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Data h4 {
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 1%;
}

.CompanyLast {
  margin-left: 10%;
  margin-right: 3%;
  display: inline-flex;
}
.CompanyLast img {
  width: 500px;
  padding-top: 20%;
}
.Process {
  padding-left: 10%;
}
h6 {
  font-size: 1.1em;
  color: #989898;
  margin-bottom: 5%;
  padding-right: 10%;
}

.Companyulist {
  background-color: transparent;
  list-style-type: none;
  padding-bottom: 1.5%;
  font-size: 1.3em;
}

#Companylist:before {
  background-color: #666666;
  width: 2px;
  content: "";
  position: absolute;
  top: 20px;
  bottom: -11px;
  left: 5px;
}

#Companylist:nth-child(8):before {
  background-color: transparent;
}

#Companylist {
  /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
  position: relative;
  /* Use padding to space things out rather than margins as the line would get broken up otherwise */
  padding-top: 0;
  padding-bottom: 1em;
  padding-left: 40px;
}
#Companylist::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%233366ff' cx='16' cy='16' r='12'%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 10px;
  width: 12px;
  height: 12px;
}

.subText {
  font-size: 0.8em;
  color: #808080;
  margin-top: 10px;
  margin-left: 5%;
}

@media screen and (max-width: 1100px) {
  .CompanyHeading {
    margin-left: 5%;
    margin-right: 5%;
  }
  .Companyleft h1 {
    margin-bottom: 15px;
  }
  .Companyleft {
    width: 100%;
    margin-bottom: 15%;
  }
  br {
    display: none;
  }

  .Companymid {
    margin-left: 5%;
    margin-right: 5%;
  }
  .Companymid2 {
    display: block;
    font-size: 0.9em;
    padding-left: 0%;
  }
  #image {
    margin-bottom: 3%;
  }
  .firstBox {
    padding-bottom: 15%;
  }
  .CompanyBox {
    width: 600px;
    margin-left: 17%;
  }
  .Data h2,
  h4 {
    font-size: 1.7em;
  }
  .CompanyLast {
    margin-top: -20%;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .CompanyBox {
    width: 550px;
    margin-left: 14%;
    margin-top: 6%;
  }
}

@media screen and (max-width: 605px) {
  .CompanyLast img {
    margin-top: -25%;
    max-width: 80%;
  }
  .Process {
    font-size: 0.8em;
  }
  .Process ul {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 684px) {
  .BackgroundLogo {
    height: 50vh;
    margin-bottom: 35%;
  }
  .Companyleft h4 {
    font-size: 1em;
  }
  .CompanyBox {
    margin-top: -5%;
    margin-left: 7%;
    margin-right: 0%;
    width: 500px;
    height: 200px;
  }
  .CompanyLast {
    margin-left: 2%;
    margin-right: 12%;
  }
}

@media screen and (max-width: 512px) {
  .CompanyBox h4 {
    font-size: 0.6em;
  }
  .CompanyBox h2 {
    font-size: 1em;
  }
  .Companyleft p {
    font-size: 0.9em;
  }
  .Companyleft h4 {
    font-size: 0.8em;
  }
  .CompanyLast {
    margin-right: 2%;
    margin-left: 0%;
  }
  .CompanyBox {
    border-radius: 10px;
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    height: 150px;
  }
}
