.CompanyHead {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.CompanyHeading {
  margin-top: 7%;
  display: flex;
}

.Companyleft {
  margin-right: 20%;
}

.Companyright {
  font-size: 0.1vw;
}

p {
  font-size: 16px;
}

h2 {
  color: Blue;
}
.button1-company {
  margin-top: 3%;
  padding: 10px;
  background-color: transparent;
  text-align: center;
  border-color: white;
}

.CompanyMid1 {
  margin-top: 5%;
  color: White;
  text-align: center;
  margin-left: 15%;
}
h6 {
  font-size: 17px;
}

.CompanyMid2 {
  display: flex;
  margin-top: 10%;
  font-size: 1.2vw;
}
.image {
  text-align: center;
}
#imageId {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin-bottom: 5%;
}
.CompanySub {
  color: #666666;
  text-align: centre;
  margin-left: 3%;
}

.CompanyMid3 {
  margin-top: 7%;
  background-image: url("../../images/media_library/Group-972-1-min.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.CompanyMid3 .CompanyBox {
  border: 1px solid white;
  margin-right: 35%;
  margin-left: 30%;
  padding: 9%;
}

.CompanyLast {
  display: flex;
  margin-top: 5%;
  margin-left: 15%;
}

.techLogo img {
  width: 120%;
  max-width: 800px;
  height: auto;
  margin-top: 25%;
}

.process {
  float: right;
  margin-left: 10%;
  margin-right: 6%;
}
.process ul {
  margin-top: 5%;
  list-style: none;
  font-size: 1.7vw;
  background-color: transparent;
}
li {
  color: #e6e4e1;
}
.process li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: Blue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  padding-bottom: 3%;
}
