.footer-wrap {
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0; */
  margin-top: 100px;
  width: 100%;
  height: 70px;
}
.footer {
  position: relative;
  width: 100%;
  height: 100%;
}
.footer-content {
  position: relative;
  float: right;
  height: 100%;
  width: 900px;
  background-color: #121212;
}
.footer-content::before {
  position: absolute;
  right: 100%;
  top: 0px;
  border-bottom: 70px solid #121212;
  border-left: 70px solid transparent;
  width: 0;
  height: 0;
  content: "";
  display: block;
}
.footer-content .footer-item {
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  color: #666666;
}
.footer-content .footer-item.infoTech {
  left: 40px;
}
.footer-content .footer-item.siteMap {
  right: 400px;
}
.footer-content .footer-item.terms {
  right: 250px;
}
.footer-content .footer-item.privacy {
  right: 100px;
}

.footer.port .logo-img {
  top: 33px;
  width: 25px;
  height: 24px;
  left: 18px;
}
.footer.port .logo-label {
  top: 33px;
  left: 60px;
  font-size: 18px;
}
@media only screen and (max-width: 1280px) {
  .footer-content .footer-item.infoTech {
    display: none;
  }
  .footer-content {
    width: 400px;
  }
  .footer-content .footer-item.siteMap {
    right: 300px;
  }
  .footer-content .footer-item.terms {
    right: 160px;
  }
  .footer-content .footer-item.privacy {
    right: 20px;
  }
}
@media only screen and (max-width: 680px) {
  .footer-content {
    display: none;
  }
}
