.menu-B {
  padding-top: 10px;
  position: fixed;
  z-index: 1;
  padding-bottom: 10%;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebarText {
  font-size: 1em;
  display: block;
  color: white;
  text-align: center;
  padding-top: 10%;
  text-decoration: none;
}

.sidebarText:hover {
  color: #0077bf;
  text-decoration: none;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: aliceblue;
}

.sidebar .closebtn:hover {
  cursor: pointer;
  color: #0077bf;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-color: transparent;
}

.openbtn:hover {
  background-color: #0077bf;
}

#main {
  transition: 0.5s;
  padding: 16px;
}

#mySidebar .sidebarcompany {
  text-align: center;
  margin: 1% 0% 20% 0%;
  font-size: 2em;
}

.closebtn:hover {
  color: #0077bf;
}

.sidebarBar {
  width: 80px;
  height: 5px;
  background-color: #0077bf;
  margin-top: 30px;
  margin-left: 35%;
}
